@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  background: url(../images/landing.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-bar {
  display: flex;
  height: 80px;
  align-items: center;
  background: #001d3d;
  box-shadow: 0px 1px 4px #ffc300;
}

.header-logo {
  display: flex;
  flex: 1;
}

.header-logo img {
  margin-left: 50px;
  height: 60px;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ffd60a;
}

ul button {
  width: 119px;
  height: 36px;
  background: #ffc300;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #001d3d;
}
