@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background: url(../images/landing.svg) no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  background: #001d3d;
  box-shadow: 0px 1px 4px #ffc300;
}

.header-logo {
  display: flex;
  flex: 1;
}

.header-logo img {
  margin-left: 50px;
  width: 60px;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ffd60a;
}

ul button {
  width: 119px;
  height: 36px;
  background: #ffc300;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #001d3d;
}

.header-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.header-content {
  font-family: "Poppins", sans-serif;
  color: #ffc300;
  width: 45%;
}

.intro {
  font-weight: 300;
  font-size: 18px;
}

.name {
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
}

.title-description {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: rgba(255, 195, 0, 0.7);
}

.description {
  width: 65%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.header-banner-img {
  background: url(../images/IMG_20191204_105239.jpg) no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  transform: rotate(-45deg);
  filter: drop-shadow(4px 4px 4px rgba(255, 195, 0, 0.5));
}

.header-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 172px;
  height: 50px;
  background: #ffc300;
  border-radius: 25px;
}

.header-cta a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #001d3d;
}

.technologies {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  line-height: 59px;
  color: #001d3d;
}

.tech-imgs {
  display: flex;
  justify-content: space-around;
  padding: 50px 300px;
}

#vs-code,
#github {
  height: 100px;
  width: 100px;
}

#html5,
#css3 {
  height: 200px;
  width: 200px;
}

#javascript {
  height: 240px;
  width: 240px;
}

hr {
  height: 1px;
  background-color: #ffc300;
  border: none;
}

.card {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  color: #001d3d;
}

.card-left,
.card-right {
  display: flex;
  margin: 50px 0;
  width: 966px;
  height: 500px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-right .project-logo {
  background: #ffc300;
  border-radius: 0px 10px 10px 0px;
}

.project-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #003566;
  border-radius: 10px 0px 0px 10px;
}

.project-description {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.card-title {
  padding-top: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.card-content {
  padding: 50px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.btn-card-left,
.btn-card-right {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 45px;
  background: #ffc300;
  border-radius: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.btn-card-left a {
  text-decoration: none;
  color: #001d3d;
}

.btn-card-right {
  background: #003566;
}

.btn-card-right a {
  text-decoration: none;
  color: #ffc300;
}

.code-lang {
  text-align: right;
  margin-top: auto;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 11px;
}

.left {
  text-align: left;
}

.about-me {
  background: #ffd60a;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #003566;
}

.about-header {
  font-weight: bold;
  font-size: 36px;
}

.about-content {
  width: 60%;
  margin: 50px 0 50px 300px;
  display: flex;
  font-weight: 300;
  font-size: 24px;
  text-align: justify;
}

.bg-info {
  padding-right: 100px;
}

.interests {
  padding-left: 100px;
  border-left: 1px solid #003566;
}

.social-icons a {
  margin: 0 20px;
}
